@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;

}

.coloredText {
    color: orange;
}

/* links */
a {
    text-decoration: none;
    background: transparent;
    z-index: 1;
    color: black;

}

.tabs, .aSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh; /* one percent of the height window size */
    text-align: center;
    padding: 0 2em;  /*== two times the current font"*/
    z-index: 1;
    
}
.contactsST{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    position: sticky;
    text-align: center;
    padding: 12em 2em;  /*== two times the current font"*/
    z-index: 1;
}
.aSection{
    z-index: 0;
}
.tabs, .aSection h1 {
    font-size: 2rem; /* relative to the root element's root size"*/
    letter-spacing: 1rem;
    margin: 0;
}

.tabs, .aSection h3 {
    font-size: 1rem;
    letter-spacing: .3rem;
    opacity: 0.65;
}

.tabsContainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    z-index: 1;
}

.stick {
    position: fixed;
    top: 0;
    z-index: 1;
}


.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    z-index: 1;
    background: white;
}
.tab:hover {
    color:white;
    background: orange;
    transition: all 0.5s ease; /* <propery duration, function> */
}

/* NOT IMPLEMENTED */
.tabSlider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    transition: left 0.3s ease;
    background-color: green;
}
.startText {
    display: flex;
    justify-content: center;
}
.startText h1{

    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    white-space:nowrap;
    font-size: 2em;
    border-right: .15em solid red;
    letter-spacing: .2em;
    margin: 0 auto;
    animation: typing 2s steps(30, end), blink .5s step-end infinite;
}

.typingText {
    display: flex;
    justify-content: center;
}
.tt{

    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    white-space:nowrap;
    font-size: 2em;
    border-right: .15em solid red;
    letter-spacing: .2em;
    margin: 0 auto;
}
.typingTextAnimation {
    animation: typing 3s steps(30, end), blink .5s step-end infinite;

}

@keyframes typing {
    from {width: 0}
    to {width: 100%;}
    
}

@keyframes blink {
    from, to {border-color: transparent}
    50% {border-color: orange}
}

/* for mobile */
@media(min-width: 800px) {

}

.buttonContainer {
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

}


.buttonContainer:hover {
    background-color: rgba(255, 166, 0, 0.719);
    color:white;
    box-shadow: 0px 15px 20px orange;
    transform: translateY(-7px);
    transition: all 0.5s ease; /* <propery duration, function> */

}

.buttonContainer .button {
    font-size: 1rem;
    opacity: .7;
    letter-spacing: .2rem;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    z-index: 1;
}
.button:hover {
    color:white;
    transition: all 0.5s ease; /* <propery duration, function> */
}

/* PROJECTS STUFF  */

/* contains all the cards */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: fit-content;    
    row-gap: 100px;
    column-gap: 100px;
}


.card {
    flex: 1 1 500px;
    background: white;
    transition: 0.6s all ease;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cardTop {
    transition: 0.4s all ease;
    height: 65%;
    background: orange;
    
}

.cardBot {
    height: 35%;
    text-wrap: normal;
    transition: 0.4s all ease;
}

.cardText {
    min-height: 100%;
    padding: 15px;
}

.cardInfo {
    padding-top: 10px;

}

.cardHoverText {
    visibility: hidden;
}

/* hovering */

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.card:hover .cardHoverText {
    visibility: visible;
    transition: 0.4s all ease;
    transition-delay: 0.2s;
}

.card:hover .cardBot {
    transition: 0.4s all ease;
    height: 65%;
    opacity: 1;

}

.card:hover .cardTop {
    transition: 0.4s all ease ;
    height: 35%;
    opacity: 0.8;
}

/* Icons / Contacts Page */
.contactIcons {
    
    display: inline-block;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
      
}


/* Icons */

.icons{
    color:#fff;
    background: orange;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    font-family:fontawesome;
    position: relative;
    display: inline-block;
    width:40px;
    height:28px;
    padding-top:12px;
    margin:0 2px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
     -webkit-font-smoothing: antialiased;
  }
  
.icons:hover {
    background: rgb(236, 199, 130);
  }
  
  /* pop-up text */
  
.icons span {
    color:#666;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  /* pop-up text arrow */
  
.icons span:before {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:40px;
  }
  
  /* text pops up when icon is in hover state */
  
.icons:hover span {
    bottom:50px;
    visibility:visible;
    opacity:1;
  }


  /* font awesome icons */

.icons:nth-of-type(1):before {
    content:'\f0e0';
}
.icons:nth-of-type(2):before {
content:'\f09a';
}
.icons:nth-of-type(3):before {
content:'\f08c';
}
.icons:nth-of-type(4):before {
content:'\f09b';

}


/* G A L L E R Y */


.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.galleryContent {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.galleryImage {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.galleryImage:hover {
	transform: scale(1.15);
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}